<h1>Public Recipes</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<% @recipes.each do |recipe| %>
  <div class="recipe-card">
    <h2><%= recipe.name %></h2>
    <p>Preparation Time: <%= recipe.preparation_time %> minutes</p>
    <p>Cooking Time: <%= recipe.cooking_time %> minutes</p>
    <p>Description: <%= recipe.description %></p>
    <p>Public: <%= recipe.public ? 'Yes' : 'No' %></p>
    
    <%= link_to 'View Details', recipe_details_path(recipe) %>
  </div>
<% end %>
