<h1><%= @recipe.name %></h1>

<% if current_user == @recipe.user || @recipe.public %>
  <%= render 'recipe_details', recipe: @recipe %>
<% else %>
  <p>This recipe is private.</p>
<% end %>

<% if current_user == @recipe.user %>
<%= button_to(@recipe.public? ? "Make it Private" : "Make it Public",toggle_public_recipe_path(@recipe),method: :patch) %>
<% end %>

<div class="names">
  <p><strong><%= @recipe.editing_times? ? @recipe.preparation_time : "preparation_time: #{@recipe.preparation_time} hours" %></p>
  <p><%= @recipe.editing_times? ? @recipe.cooking_time : "cooking_time: #{@recipe.cooking_time} hours" %></p>
  <p>Steps go here...</p>
</div>

<div class="row">
  <% if @recipe.user_id != @user.id  && !@recipe.public %>
    <div class="col-md-12">
      <h3 class="text-center">This recipe is private</h3>
    </div>
  <% else %>
    <% if can? :update, @recipe %>
      <div class="col-md-8">
        <%= link_to 'General shopping list', shopping_list_index_path, class: 'btn btn-primary', id: "shopping-list" %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe.id), class: 'btn btn-primary', id: "Ingredient" %>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
