<!-- app/views/recipes/show.html.erb -->
<h1><%= @recipe.name %></h1>
<p>Description: <%= @recipe.description %></p>
<p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
<p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>

<!-- Toggle Public/Private Button -->
<%= link_to "Toggle Public/Private", toggle_public_recipe_path(@recipe), method: :patch, class: 'btn btn-primary' %>

<% if @recipe.public || current_user == @recipe.user %>
  <!-- Recipe Details -->

  <!-- Add Food Form -->
  <%= form_for([@recipe, @recipe.foods.build]) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <!-- Add more fields as needed for food items -->
    <%= f.submit "Add Food", class: 'btn btn-success' %>
  <% end %>
<% end %>
