<h1><%= @recipe.name %></h1>

<% if current_user == @recipe.user || @recipe.public %>
  <%= render 'recipe_details', recipe: @recipe %>
  <% if current_user == @recipe.user %>
    <% if @recipe.editing_times? %>
      <div class="update-times-form">
        <%= form_with model: @recipe, url: update_times_recipe_path(@recipe), method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :preparation_time %>
            <%= f.text_field :preparation_time, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :cooking_time %>
            <%= f.text_field :cooking_time, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Update Times", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>This recipe is private.</p>
<% end %>

<% if current_user == @recipe.user %>
  <%= link_to 'Toggle Privacy', public_recipes_recipe_path(@recipe), method: :patch %>
<% end %>

<div class="names">
  <p><strong><%= @recipe.editing_times? ? @recipe.preparation_time : "preparation_time: #{@recipe.preparation_time} hours" %></p>
  <p><%= @recipe.editing_times? ? @recipe.cooking_time : "cooking_time: #{@recipe.cooking_time} hours" %></p>
  <p>Steps go here...</p>
</div>
